.woocommerce-billing-fields {
   
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  h3 {
    color: #2a5db0;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .form-row {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  .error {
    color: rgb(223, 42, 42);
    font-size: 12px;
    margin-top: 3px;
  }
  
  .required {
    color: rgb(44, 43, 43);
  }
  